{
  "openapi": "3.1.0",
  "info": {
    "title": "Businesses",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yelp.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {}
      },
      "basic": {
        "type": "http",
        "scheme": "basic"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "To authenticate API calls with the API Key, set the Authorization HTTP header value as `Bearer API_KEY`.\n\nExample: `Bearer 23813239889e947efd3e787cc41b0b839f442a85c5bfd30bd4b9a85ec3a54d5cae4d52b37ff52e64deb9c83bd04883812a6cebde04f2f25752f31be0ac74b514`.\n\nYou can create or find your API Key at [yelp.com](https://www.yelp.com/developers/v3/manage_app).\n"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/ai/chat/v2": {
      "post": {
        "summary": "Fusion AI (Search & Chat)",
        "tags": [
          "Businesses"
        ],
        "description": "The Fusion AI endpoint brings conversational intelligence to your applications, enabling users to ask natural language questions and receive real-time, contextually relevant answers powered by Yelp’s latest business data and reviews.\n\n**Fusion AI Features**\n- 🔍 **Next generation search & discovery** – Search with natural language, discover, and connect with contextually relevant businesses.\n- 💬 **Multi-turn conversations** – Support back-and-forth interactions and refine queries with follow-up questions.\n- 📌 **Direct business queries** – Ask targeted questions about businesses without needing to perform a prior search.\n\n🚀 **Try it now** – Test Fusion AI for free in our **<a href=\"https://www.yelp.com/developers/fusion-ai/chat\" target=\"_blank\">playground</a>** and see real-time responses in action.\n\n🛠️ For a detailed, step-by-step guide on integrating this endpoint into your application, check out the **<a href=\"https://docs.developer.yelp.com/docs/yelp-fusion-ai-api\" target=\"_blank\">Getting Started with Yelp Fusion AI API guide</a>**.\n",
        "operationId": "v2_ai_chat",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "This object captures the user’s request to the Fusion AI Chat endpoint. It includes\nthe conversational query, optional user context for more relevant results, and\nan optional chat_id for session continuity.\n",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "• Natural language text for querying Yelp-specific information.\n• Accepts any prompt related to Yelp businesses, such as “Can you find a Thai restaurant near me?”\n• This should be plain text (no special formatting needed).\n",
                    "maxLength": 1000
                  },
                  "chat_id": {
                    "type": "string",
                    "description": "• Uniquely identifies the current conversation (chat session).\n• For the first request, set this to null or omit it; the API will respond with a new chat_id.\n• Use the returned chat_id on subsequent requests to continue the same conversation.\n• If omitted on subsequent requests, a new conversation is started.\n• If an invalid chat_id is provided, the request will fail.\n",
                    "x-nullable": true
                  },
                  "user_context": {
                    "type": "object",
                    "description": "Contains optional location data (latitude and longitude) that can help the AI\ntailor results to a user’s location. If not provided and a location-based query\nis asked, the system may prompt the user to specify a location.\n",
                    "properties": {
                      "latitude": {
                        "type": "number",
                        "description": "• User’s approximate latitude.\n• If provided, it helps return more location-specific results.\n• Otherwise, the system may ask for location details if needed (e.g., for searches).\n",
                        "format": "float",
                        "x-nullable": true
                      },
                      "longitude": {
                        "type": "number",
                        "description": "• User’s approximate longitude.\n• If provided, it helps return more location-specific results.\n• Otherwise, the system may ask for location details if needed.\n",
                        "format": "float",
                        "x-nullable": true
                      }
                    }
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Represents the AI Chat response returned by Yelp’s Fusion AI endpoint. It includes\na conversational response, any structured data (entities) relevant to the query,\nand a chat_id for tracking the user session.\n",
                  "properties": {
                    "chat_id": {
                      "type": "string",
                      "description": "A unique Yelp-generated Chat ID that ties all requests to a specific conversation.\n• This remains the same if the user provided a valid chat_id in the request.\n• It is static throughout one session.\n"
                    },
                    "response": {
                      "type": "object",
                      "description": "Contains a contextually relevant response message for the user’s query:\n• Might be one or multiple sentences.\n• May include follow-up questions if needed (e.g. to request user’s location).\n",
                      "properties": {
                        "text": {
                          "description": "The AI-generated textual response to the user’s query. For example, it may\ncontain an answer, an additional prompt, or instructions to refine the query.\n",
                          "type": "string"
                        }
                      }
                    },
                    "types": {
                      "type": "array",
                      "description": "A list of response categories indicating the nature of the answer. Valid values:\n• business_search\n• business_question\n• clarification\n• unsupported\n• confirmation\n",
                      "items": {
                        "type": "string"
                      }
                    },
                    "entities": {
                      "type": "array",
                      "description": "Structured data corresponding to the businesses or other entities referenced\nin the AI response. If the response does not reference specific businesses, this\narray may be empty.\n",
                      "items": {
                        "type": "object",
                        "description": "An entity in the AI Chat response, typically containing a collection of businesses\nrelevant to the user’s query.\n",
                        "properties": {
                          "businesses": {
                            "type": "array",
                            "description": "A list of Yelp business objects that the AI response refers to. The data may be\npartially or fully populated depending on the nature of the query.\n",
                            "items": {
                              "type": "object",
                              "description": "Standard Yelp business object enhanced for AI Chat responses.\n",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Name of this business."
                                },
                                "alias": {
                                  "type": "string",
                                  "description": "Unique Yelp alias of this business. Can contain unicode characters.\nExample: 'yelp-san-francisco'. Also see <a href=\"https://docs.developer.yelp.com/docs/fusion-faq#whats-the-difference-between-the-yelp-business-id-and-business-alias\" target=\"_blank\">What's the difference between the Yelp business ID and business alias?</a>\n"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "URL for business page on Yelp."
                                },
                                "location": {
                                  "type": "object",
                                  "properties": {
                                    "address1": {
                                      "x-nullable": true,
                                      "description": "Street address of this business."
                                    },
                                    "address2": {
                                      "x-nullable": true,
                                      "description": "Street address of this business, continued."
                                    },
                                    "address3": {
                                      "x-nullable": true,
                                      "description": "Street address of this business, continued."
                                    },
                                    "city": {
                                      "x-nullable": true,
                                      "description": "City of this business."
                                    },
                                    "state": {
                                      "x-nullable": true,
                                      "description": "[ISO 3166-2](https://en.wikipedia.org/wiki/ISO_3166-2) (with a few [exceptions](https://docs.developer.yelp.com/docs/resources-state-codes)) state code of this business."
                                    },
                                    "zip_code": {
                                      "x-nullable": true,
                                      "description": "[Zip code](https://en.wikipedia.org/wiki/Postal_code) of this business."
                                    },
                                    "country": {
                                      "x-nullable": true,
                                      "description": "[ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code of this business."
                                    }
                                  }
                                },
                                "coordinates": {
                                  "x-nullable": true,
                                  "type": "object",
                                  "description": "Coordinates of this business.",
                                  "properties": {
                                    "latitude": {
                                      "type": "number",
                                      "description": "Latitude position on map."
                                    },
                                    "longitude": {
                                      "type": "number",
                                      "description": "Longitude position on map."
                                    }
                                  }
                                },
                                "review_count": {
                                  "type": "integer",
                                  "description": "Number of reviews for this business."
                                },
                                "price": {
                                  "type": "string",
                                  "description": "Price level of the business. Value is one of *$*, *$$*, *$$$* or *$$$$*.",
                                  "x-nullable": true
                                },
                                "rating": {
                                  "type": "number",
                                  "format": "double",
                                  "description": "Rating for this business (value ranges from 1, 1.5, ... 4.5, 5).",
                                  "x-nullable": true
                                },
                                "categories": {
                                  "type": "array",
                                  "description": "A list of Yelp Categories",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "alias": {
                                        "type": "string",
                                        "description": "Alias of a category, when searching for business in certain categories, use alias rather than the title."
                                      },
                                      "title": {
                                        "type": "string",
                                        "description": "Title of a category for display purpose."
                                      }
                                    }
                                  }
                                },
                                "attributes": {
                                  "type": "object",
                                  "description": "Various features or facilities provided by the business."
                                },
                                "phone": {
                                  "type": "string",
                                  "description": "Phone number of the business.",
                                  "x-nullable": true
                                },
                                "summaries": {
                                  "type": "object",
                                  "description": "AI-generated textual summaries for this business. These are not specific to the user’s query.\n",
                                  "properties": {
                                    "short": {
                                      "type": "string",
                                      "description": "A short, typically single-sentence summary.",
                                      "x-nullable": true
                                    },
                                    "medium": {
                                      "type": "string",
                                      "description": "A medium-length summary (2–3 sentences).",
                                      "x-nullable": true
                                    },
                                    "long": {
                                      "type": "string",
                                      "description": "A more detailed paragraph-length summary.",
                                      "x-nullable": true
                                    }
                                  }
                                },
                                "contextual_info": {
                                  "type": "object",
                                  "description": "Additional context relevant to the user’s specific query, if applicable.",
                                  "properties": {
                                    "summary": {
                                      "type": "string",
                                      "description": "A contextual summary relevant to the user’s query. May be null if not applicable.\n",
                                      "x-nullable": true
                                    },
                                    "review_snippets": {
                                      "type": "array",
                                      "description": "Automatically selected short excerpts from user reviews, based on the query.",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "review_id": {
                                            "type": "string"
                                          },
                                          "comment": {
                                            "type": "string"
                                          },
                                          "rating": {
                                            "type": "number",
                                            "format": "double"
                                          },
                                          "timestamp": {
                                            "x-nullable": true,
                                            "type": "integer"
                                          }
                                        },
                                        "required": [
                                          "review_id",
                                          "comment",
                                          "rating"
                                        ]
                                      }
                                    },
                                    "business_hours": {
                                      "x-nullable": true,
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "day_of_week": {
                                            "type": "string"
                                          },
                                          "business_hours": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "open_time": {
                                                  "type": "string"
                                                },
                                                "close_time": {
                                                  "type": "string"
                                                }
                                              },
                                              "required": [
                                                "open_time",
                                                "close_time"
                                              ]
                                            }
                                          }
                                        },
                                        "required": [
                                          "day_of_week",
                                          "business_hours"
                                        ]
                                      }
                                    },
                                    "photos": {
                                      "x-nullable": true,
                                      "description": "A list of Yelp-hosted photo objects.\n",
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "original_url": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "original_url"
                                        ]
                                      }
                                    },
                                    "review_snippet": {
                                      "type": "string",
                                      "description": "A single representative snippet from a review.\n",
                                      "x-nullable": true
                                    }
                                  }
                                }
                              },
                              "required": [
                                "id",
                                "name",
                                "location",
                                "coordinates",
                                "categories",
                                "attributes",
                                "summaries"
                              ]
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "chat_id"
                  ]
                },
                "examples": {
                  "Find Pizza places in Chicago": {
                    "value": {
                      "response": {
                        "text": "Here are some places in Chicago offering delicious pizza with a variety of toppings and a satisfying dining experience."
                      },
                      "types": [
                        "business_search"
                      ],
                      "entities": [
                        {
                          "businesses": [
                            {
                              "id": "8vsdJH_paXsgre3_KAa3w",
                              "alias": "lou-malnatis-pizzeria-chicago",
                              "name": "Lou Malnati's Pizzeria",
                              "url": "https://www.yelp.com/biz/lou-malnatis-pizzeria-chicago?adjust_creative=3aOVd6DAVkgZJsTctgMtSA&utm_campaign=yelp_api_v3&utm_medium=api_v3_public_ai_api_chat_v2&utm_source=3aOVd6DAVkgZJsTctgMtSA",
                              "location": null,
                              "address1": "439 North Wells St",
                              "address2": null,
                              "address3": null,
                              "city": "Chicago",
                              "zip_code": null,
                              "state": "IL",
                              "country": "US",
                              "formatted_address": "439 North Wells St\\nChicago, IL 60610",
                              "coordinates": null,
                              "latitude": 41.890357,
                              "longitude": -87.633704,
                              "review_count": 7595,
                              "price": "$",
                              "rating": 4.1,
                              "categories": [
                                {
                                  "alias": "pizza",
                                  "title": "Pizza"
                                },
                                {
                                  "alias": "italian",
                                  "title": "Italian"
                                },
                                {
                                  "alias": "sandwiches",
                                  "title": "Sandwiches"
                                }
                              ],
                              "attributes": {
                                "BusinessAcceptsAndroidPay": false,
                                "BusinessAcceptsApplePay": false,
                                "PokestopNearby": true,
                                "BusinessUrl": "https://www.loumalnatis.com/chicago-river-north",
                                "AboutThisBizBioPhotoDict": null,
                                "AboutThisBizBusinessRecommendation": [],
                                "BusinessAddressAlternate": null,
                                "BusinessCategorySic": null,
                                "BusinessMovedFrom": null,
                                "BusinessNameAlternate": null,
                                "BusinessOpeningDate": null,
                                "BusinessTempClosed": null,
                                "GroupName": null,
                                "StoreCode": null,
                                "AboutThisBizBio": null,
                                "AboutThisBizBioFirstName": null,
                                "AboutThisBizBioLastName": null,
                                "AboutThisBizHistory": null,
                                "AboutThisBizRole": null,
                                "AboutThisBizSpecialties": "If you're on the hunt for the best pizza River North has to offer, look no further than Lou Malnati's. Located in the Near North Side of Chicago neighborhood, you can enjoy Legendary Chicago Deep Dish and thin crust at the place that's been perfecting it for 50+ years. Our River North restaurant features a full-service bar, dine-in, carryout, delivery, group ordering, and drop-off catering. During the warmer months, we also offer outdoor seating. While you're out in this vibrant, ultra-stylish neighborhood, Lou Malnati's River North is the perfect spot to satiate your deep dish cravings.",
                                "AboutThisBizYearEstablished": null,
                                "Alcohol": "full_bar",
                                "Ambience": {
                                  "divey": false,
                                  "hipster": false,
                                  "casual": true,
                                  "touristy": null
                                },
                                "BikeParking": true,
                                "BusinessAcceptsBitcoin": null,
                                "BusinessAcceptsCreditCards": true,
                                "BusinessDisplayUrl": "http://www.loumalnatis.com",
                                "GoodForKids": true,
                                "GoodForMeal": {
                                  "dessert": false,
                                  "latenight": null,
                                  "lunch": true,
                                  "dinner": true,
                                  "brunch": false,
                                  "breakfast": false
                                },
                                "HappyHour": null,
                                "HasTV": true,
                                "MenuUrl": "http://www.loumalnatis.com/our-menu",
                                "NationalProviderIdentifier": null,
                                "NoiseLevel": "average",
                                "OffersMilitaryDiscount": null,
                                "RestaurantsTakeOut": true,
                                "WaitlistReservation": null,
                                "WheelchairAccessible": null,
                                "WiFi": "free"
                              },
                              "phone": 13128289800,
                              "summaries": {
                                "short": null,
                                "medium": null,
                                "long": null
                              },
                              "contextual_info": {
                                "summary": "Known for its classic Chicago-style deep dish pizza, this family-friendly pizzeria offers a rich and luxurious dining experience. With a thick crust and generous cheese, it's a must-visit for pizza lovers in the area. While the wait for a table can be long, pre-ordering is available to satisfy your craving for their delicious pies. Don't forget to try the Chocolate Chip Pizza for a sweet finish!",
                                "review_snippets": [],
                                "business_hours": [
                                  {
                                    "day_of_week": "Monday",
                                    "business_hours": [
                                      {
                                        "open_time": "2025-02-03 11:00:00",
                                        "close_time": "2025-02-03 23:00:00",
                                        "special_hours_applied": false
                                      }
                                    ]
                                  },
                                  {
                                    "day_of_week": "Tuesday",
                                    "business_hours": [
                                      {
                                        "open_time": "2025-02-04 11:00:00",
                                        "close_time": "2025-02-04 23:00:00",
                                        "special_hours_applied": false
                                      }
                                    ]
                                  },
                                  {
                                    "day_of_week": "Wednesday",
                                    "business_hours": [
                                      {
                                        "open_time": "2025-02-05 11:00:00",
                                        "close_time": "2025-02-05 23:00:00",
                                        "special_hours_applied": false
                                      }
                                    ]
                                  },
                                  {
                                    "day_of_week": "Thursday",
                                    "business_hours": [
                                      {
                                        "open_time": "2025-02-06 11:00:00",
                                        "close_time": "2025-02-06 23:00:00",
                                        "special_hours_applied": false
                                      }
                                    ]
                                  },
                                  {
                                    "day_of_week": "Friday",
                                    "business_hours": [
                                      {
                                        "open_time": "2025-02-07 11:00:00",
                                        "close_time": "2025-02-08 00:00:00",
                                        "special_hours_applied": false
                                      }
                                    ]
                                  },
                                  {
                                    "day_of_week": "Saturday",
                                    "business_hours": [
                                      {
                                        "open_time": "2025-02-08 11:00:00",
                                        "close_time": "2025-02-09 00:00:00",
                                        "special_hours_applied": false
                                      }
                                    ]
                                  },
                                  {
                                    "day_of_week": "Sunday",
                                    "business_hours": [
                                      {
                                        "open_time": "2025-02-09 11:00:00",
                                        "close_time": "2025-02-09 23:00:00",
                                        "special_hours_applied": false
                                      }
                                    ]
                                  }
                                ],
                                "photos": [
                                  {
                                    "original_url": "https://s3-media0.fl.yelpcdn.com/bphoto/o_RMV239sfg3g3F9TBw4uTzQg/o.jpg"
                                  },
                                  {
                                    "original_url": "https://s3-media0.fl.yelpcdn.com/bphoto/o_RMV9asd3F9T4Bw4uTzQg/o.jpg"
                                  },
                                  {
                                    "original_url": "https://s3-media0.fl.yelpcdn.com/bphoto/YkRk12fdaf3JUcQbdSpycQ/o.jpg"
                                  }
                                ],
                                "review_snippet": "It was the most [[HIGHLIGHT]]delicious pizza[[ENDHIGHLIGHT]] I ever had. It wasn't too loaded but it had everything it needed."
                              }
                            }
                          ]
                        }
                      ],
                      "chat_id": "-AfyyCgdgdTsQ23fkOg"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Message varies depending on failure scenario",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "description"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The error code."
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the error."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Invalid Request": {
                    "value": {
                      "error": {
                        "code": "INVALID_REQUEST",
                        "description": "Invalid Request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The API key has either expired or doesn't have the required scopes to query this endpoint.\n\n| code  | description |\n| ------------- | ------------- |\n| UNAUTHORIZED_API_KEY  | The API key provided is not currently able to query this endpoint.  |\n| TOKEN_INVALID  | Invalid API key or authorization header.  |\n",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED_API_KEY",
                        "description": "The API key provided is not currently able to query this endpoint."
                      }
                    }
                  },
                  "Invalid Token": {
                    "value": {
                      "error": {
                        "code": "TOKEN_INVALID",
                        "description": "Invalid API key or authorization header."
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "description"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The error code."
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the error."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The API key provided is not currently able to query this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "description"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The error code."
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the error."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Authorization Error": {
                    "value": {
                      "error": {
                        "code": "AUTHORIZATION_ERROR",
                        "description": "Authorization Error"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "description"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The error code."
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the error."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Resource Not Found": {
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "description": "Resource Not Found"
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "The length of the request exceeded the maximum allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "description"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The error code."
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the error."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Payload Too Large": {
                    "value": {
                      "error": {
                        "code": "PAYLOAD_TOO_LARGE",
                        "description": "Payload Too Large"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "You have either exceeded your daily quota, or have exceeded the queries-per-second limit for this endpoint. Try reducing the rate at which you make queries.",
            "content": {
              "application/json": {
                "examples": {
                  "Rate limited": {
                    "value": {
                      "error": {
                        "code": "TOO_MANY_REQUESTS_PER_SECOND",
                        "description": "You have exceeded the queries-per-second limit for this endpoint. Try reducing the rate at which you make queries."
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "description"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The error code."
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the error."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "examples": {
                  "Internal Server Error": {
                    "value": {
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "description": "Something went wrong internally, please try again later."
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "description"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The error code."
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the error."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "description"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The error code."
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the error."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Service Unavailable": {
                    "value": {
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "description": "Service Unavailable"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/businesses/search": {
      "get": {
        "summary": "Search",
        "tags": [
          "Businesses"
        ],
        "description": "This endpoint returns up to 240 businesses with some basic information based on the provided search criteria.\n\nExplore our new <a href=\"https://docs.developer.yelp.com/reference/v2_ai_chat\" target=\"_blank\">Fusion AI API</a> for conversational search experiences. Try it for free in our <a href=\"https://www.yelp.com/developers/fusion-ai/chat\" target=\"_blank\">playground</a> and see real-time conversational responses in action.\n\n**Note:** The API does not return businesses without any reviews.\n",
        "operationId": "v3_business_search",
        "parameters": [
          {
            "in": "query",
            "description": "Required if either *latitude* or *longitude* is not provided.\nThis string indicates the geographic area to be used when searching for businesses.\nExamples: \"New York City\", \"NYC\", \"350 5th Ave, New York, NY 10118\".\nBusinesses returned in the response may not be strictly within the specified location.\n",
            "required": false,
            "name": "location",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 250
            }
          },
          {
            "in": "query",
            "required": false,
            "description": "Required, if _location_ is not provided. Latitude of the location to search from. If latitude is provided, longitude is required too.",
            "name": "latitude",
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            }
          },
          {
            "in": "query",
            "required": false,
            "description": "Required if _location_ is not provided. Longitude of the location to search from. If longitude is provided, latitude is required too.",
            "name": "longitude",
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            }
          },
          {
            "name": "term",
            "in": "query",
            "description": "Search term, e.g. \"food\" or \"restaurants\".\nThe term may also be the business's name, such as \"Starbucks\". If term is not included the endpoint will default to searching across businesses from a small number of popular categories.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "description": "A suggested search radius in meters. This field is used as a suggestion to the search. The actual search radius may be lower than the suggested radius in dense urban areas, and higher in regions of less business density.\nIf the specified value is too large, a AREA_TOO_LARGE error may be returned. The max value is 40,000 meters (about 25 miles).\n",
            "required": false,
            "name": "radius",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 40000
            }
          },
          {
            "in": "query",
            "description": "Categories to filter the search results with. See the list of supported categories. The category filter can be a list of comma delimited categories.\ne.g., \"bars,french\" will filter by Bars OR French.\nThe category alias should be used (e.g. \"discgolf\", not \"Disc Golf\").\n",
            "required": false,
            "name": "categories",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "minLength": 1
              },
              "uniqueItems": true
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "locale",
            "description": "Locale code in the format of {language code}_{country code}. See the [list of supported locales](https://docs.developer.yelp.com/docs/resources-supported-locales).\n",
            "schema": {
              "type": "string",
              "pattern": "^[a-z]{2,3}_[A-Z]{2}$"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "price",
            "description": "Pricing levels to filter the search result with: 1 = $, 2 = $$, 3 = $$$, 4 = $$$$. The price filter can be a list of comma delimited pricing levels.\ne.g., \"1, 2, 3\" will filter the results to show the ones that are $, $$, or $$$.\n",
            "schema": {
              "type": "array",
              "maxItems": 4,
              "uniqueItems": true,
              "items": {
                "type": "integer",
                "minimum": 1,
                "maximum": 4
              }
            }
          },
          {
            "name": "open_now",
            "in": "query",
            "description": "When set to true, only return the businesses that are open now.\nNotice that _open_at_ and _open_now_ cannot be used together.\n",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "open_at",
            "in": "query",
            "description": "An integer representing the Unix time in the timezone of the search location. If specified, it will return businesses open at the given time.\nNotice that *open_at* and *open_now* cannot be used together.\n",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "Try these additional filters to return specific search results!\n- *hot_and_new* - popular businesses which recently joined Yelp\n- *request_a_quote* - businesses which actively reply to Request a Quote inquiries\n- *reservation* - businesses with Yelp Reservations bookings enabled on their profile page\n- *waitlist_reservation* - businesses with Yelp _Wait List_ bookings enabled on their profile screen (iOS/Android)\n- *gender_neutral_restrooms* - businesses which provide gender neutral restrooms\n- *open_to_all* - businesses which are Open To All\n- *wheelchair_accessible* - businesses which are Wheelchair Accessible\n\n**Premium Search Filters, available to users with a [Fusion Premium Plan](https://business.yelp.com/data/products/fusion/):\n- *accepts_credit_cards* - businesses which accepts credit cards\n- Ambience\n  - *ambience* - ambience of the business\n  - *ambience_casual* - is the ambience at the business casual\n  - *ambience_classy* - is the ambience at the business classy\n  - *ambience_divey* - is the ambience at the business divey\n  - *ambience_hipster* - is the ambience at the business hippy\n  - *ambience_intimate* - is the ambience at the business intimate\n  - *ambience_romantic* - is the ambience at the business romantic\n  - *ambience_touristy* - is the ambience at the business touristy\n  - *ambience_trendy* - is the ambience at the business trendy\n  - *ambience_upscale* - is the ambience at the business upscale\n- *dogs_allowed* - dog-friendly businesses\n- *good_for_dancing* - businesses which are good for dancing\n- *happy_hour* - businesses which have happy hour specials\n- Liked by\n  - *liked_by_beer* - businesses liked by people who drink beer\n  - *liked_by_dates* - businesses liked by people who are on a date\n  - *liked_by_fifties* - businesses liked by people who are in their fiftees\n  - *liked_by_forties* - businesses liked by people who are in their forties\n  - *liked_by_genx* - businesses liked by people who belong to Generation X\n  - *liked_by_thirties* - businesses liked by people who are in their thirties\n  - *liked_by_twenties* - businesses liked by people who are in their twenties\n  - *liked_by_men* - businesses liked by men\n  - *liked_by_students* - businesses liked by Students\n  - *liked_by_travelers* - businesses liked by people who are travelling\n  - *liked_by_vegetarians* - businesses which are liked by vegetarians\n  - *liked_by_wine* - businesses liked by people who drink wine\n  - *liked_by_women* - businesses liked by women\n  - *liked_by_young_professionals* - businesses liked by young prefessionals\n- Noise level\n  - *noise_level* - noise level at the business\n  - *noise_level_average* - is the noise level average\n  - *noise_level_loud* - is the noise level loud\n  - *noise_level_quiet* - is the noise level quiet\n  - *noise_level_very_loud* - is the noise level very loud\n- *outdoor_seating* - businesses with outdoor seating areas\n- Parking\n  - *parking* - businesses with parking\n  - *parking_garage* - businesses which itself has a garage or there is a parking garage nearby\n  - *parking_lot* - businesses which have a parking lot\n  - *parking_street* - businesses with street parking available nearby\n  - *parking_valet* - businesses which offer a valet parking\n  - *parking_validated* - businesses which can validate a parking ticket from an external parking\n  - *parking_bike* - businesses with bike parking type\n- *restaurants_delivery* - restaurants which offer delivery service\n- *restaurants_takeout* - restaurants with take-out option\n- WiFi\n  - *wifi* - businesses with WiFi\n  - *wifi_free* - businesses with free WiFi\n  - *wifi_paid* - businesses with paid WiFi\n\nYou can combine multiple attributes by providing a comma separated like \"attribute1,attribute2\".\nIf multiple attributes are used, only businesses that satisfy all the attributes will be returned in search results.\ne.g., the attributes \"*hot_and_new*,*request_a_quote*\" will return businesses that are 'Hot and New', and offer 'Request a Quote'.\n",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Suggestion to the search algorithm that the results be sorted by one of the these modes: *best_match*, *rating*, *review_count* or *distance*.\nThe default is *best_match*. Note that specifying the sort_by is a suggestion (not strictly enforced) to Yelp's search, which considers multiple input parameters to return the most relevant results.\n\ne.g., the *rating* sort is not strictly sorted by the rating value, but by an adjusted rating value that takes into account the number of ratings,\nsimilar to a Bayesian average. This is to prevent skewing results to businesses with a single review.\n",
            "required": false,
            "schema": {
              "type": "string",
              "default": "best_match",
              "enum": [
                "best_match",
                "rating",
                "review_count",
                "distance"
              ]
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "device_platform",
            "description": "Determines the platform for mobile_link",
            "schema": {
              "type": "string",
              "enum": [
                "android",
                "ios",
                "mobile-generic"
              ]
            }
          },
          {
            "name": "reservation_date",
            "description": "The date for the reservation, format is YYYY-mm-dd",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reservation_time",
            "description": "The time of the requested reservation, format is HH:MM",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reservation_covers",
            "description": "How many people are attending the reservation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10
            }
          },
          {
            "name": "matches_party_size_param",
            "in": "query",
            "description": "Whether to filter out results that don't have openings matching the params",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 0,
              "maximum": 50
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "offset",
            "description": "Offset the list of returned results by this amount.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One more more businesses were found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "businesses",
                    "total",
                    "region"
                  ],
                  "properties": {
                    "businesses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "A Business Yelp finds based on the search criteria.",
                        "required": [
                          "id",
                          "alias",
                          "name",
                          "location",
                          "coordinates",
                          "phone",
                          "display_phone"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Yelp Encrypted Business ID."
                          },
                          "alias": {
                            "description": "Unique Yelp alias of this business. Can contain unicode characters.\nExample: 'yelp-san-francisco'. Also see <a href=\"https://docs.developer.yelp.com/docs/fusion-faq#whats-the-difference-between-the-yelp-business-id-and-business-alias\" target=\"_blank\">What's the difference between the Yelp business ID and business alias?</a>\n",
                            "type": "string"
                          },
                          "name": {
                            "description": "Name of this business.",
                            "type": "string"
                          },
                          "image_url": {
                            "description": "URL of photo for this business",
                            "type": "string"
                          },
                          "is_closed": {
                            "description": "Whether business has been (permanently) closed",
                            "type": "boolean"
                          },
                          "url": {
                            "description": "URL for business page on Yelp.",
                            "type": "string"
                          },
                          "review_count": {
                            "description": "Number of reviews for this business.",
                            "type": "integer"
                          },
                          "categories": {
                            "description": "List of category title and alias pairs associated with this business.",
                            "type": "array",
                            "items": {
                              "description": "A list of Yelp Categories.",
                              "type": "array",
                              "items": {
                                "type": "object",
                                "description": "Category that the business falls in.",
                                "required": [
                                  "alias",
                                  "title"
                                ],
                                "properties": {
                                  "alias": {
                                    "description": "Alias of a category, when searching for business in certain categories, use alias rather than the title.",
                                    "type": "string"
                                  },
                                  "title": {
                                    "description": "Title of a category for display purpose.",
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "rating": {
                            "description": "Rating for this business (value ranges from 1, 1.5, ... 4.5, 5).",
                            "type": "decimal"
                          },
                          "coordinates": {
                            "type": "object",
                            "description": "Coordinates of this business.",
                            "required": [
                              "latitude",
                              "longitude"
                            ],
                            "properties": {
                              "latitude": {
                                "description": "Latitude position on map.",
                                "type": "decimal"
                              },
                              "longitude": {
                                "description": "Longitude position on map.",
                                "type": "decimal"
                              }
                            }
                          },
                          "transactions": {
                            "description": "List of Yelp transactions that the business is registered for. Current supported values are **pickup**, **delivery** and **restaurant_reservation**.",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "price": {
                            "description": "Price level of the business. Uses the currency symbol of the provided <code>locale</code>. Value for <code>en_US</code> is one of *$*, *$$*, *$$$* or *$$$$*.",
                            "type": "string"
                          },
                          "location": {
                            "description": "Location of this business, including address, city, state, zip code and country.",
                            "type": "object",
                            "required": [
                              "display_address"
                            ],
                            "properties": {
                              "address1": {
                                "description": "Street address of this business.",
                                "type": "string"
                              },
                              "address2": {
                                "description": "Street address of this business, continued.",
                                "type": "string"
                              },
                              "address3": {
                                "description": "Street address of this business, continued.",
                                "type": "string"
                              },
                              "city": {
                                "description": "City of this business.",
                                "type": "string"
                              },
                              "zip_code": {
                                "description": "[Zip code](https://en.wikipedia.org/wiki/Postal_code) of this business.",
                                "type": "string"
                              },
                              "country": {
                                "description": "[ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code of this business.",
                                "type": "string"
                              },
                              "state": {
                                "description": "[ISO 3166-2](https://en.wikipedia.org/wiki/ISO_3166-2) (with a few [exceptions](https://docs.developer.yelp.com/docs/resources-state-codes)) state code of this business.",
                                "type": "string"
                              },
                              "display_address": {
                                "description": "Array of strings that if organized vertically give an address that is in the standard address format for the business's country.",
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "cross_streets": {
                                "type": "string",
                                "description": "Cross streets of this address",
                                "nullable": true
                              }
                            }
                          },
                          "phone": {
                            "description": "Phone number of the business.",
                            "type": "string"
                          },
                          "display_phone": {
                            "description": "Phone number of the business formatted nicely to be displayed to users. The format is the standard phone number format for the business's country.",
                            "type": "string"
                          },
                          "distance": {
                            "description": "Distance in meters from the search location. This value is in meters(m) regardless of the locale.",
                            "type": "decimal"
                          },
                          "attributes": {
                            "description": "Various features or facilities provided by the business.\n**Yelp Fusion Premium tier** attributes, please apply [here](https://business.yelp.com/data/products/fusion/):\n* *liked_by_vegetarians* - is the business liked by vegetarians\n* *liked_by_vegans* - is the business liked by vegans\n* *hot_and_new* - has the business recently joined Yelp\n",
                            "type": "object"
                          },
                          "business_hours": {
                            "type": "array",
                            "description": "Regular business hours.\n",
                            "items": {
                              "type": "object",
                              "required": [
                                "hour_type",
                                "open",
                                "is_open_now"
                              ],
                              "properties": {
                                "hour_type": {
                                  "type": "string",
                                  "description": "Type of business hours"
                                },
                                "open": {
                                  "type": "array",
                                  "description": "List of open hours",
                                  "items": {
                                    "type": "object",
                                    "required": [
                                      "is_overnight",
                                      "start",
                                      "end",
                                      "day"
                                    ],
                                    "properties": {
                                      "day": {
                                        "type": "integer",
                                        "description": "Day of the week."
                                      },
                                      "start": {
                                        "type": "string",
                                        "description": "Start of the opening hours in a day, in [24-hour clock](https://en.wikipedia.org/wiki/24-hour_clock) notation, like 1000 means 10 AM."
                                      },
                                      "end": {
                                        "type": "string",
                                        "description": "End of the opening hours in a day, in [24-hour clock](https://en.wikipedia.org/wiki/24-hour_clock) notation, like 2130 means 9:30 PM."
                                      },
                                      "is_overnight": {
                                        "type": "boolean",
                                        "description": "Whether the special hours time range spans across midnight or not. When this is true, the end time will be lower than the start time."
                                      }
                                    }
                                  }
                                },
                                "is_open_now": {
                                  "type": "boolean",
                                  "description": "Whether the business is open now"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "total": {
                      "description": "Total number of businesses Yelp finds based on the search criteria. Sometimes, the value may exceed 240. In such case, you still can only get up to 240 businesses using multiple queries and combinations of the \"limit\" and \"offset\" parameters.\n",
                      "type": "integer"
                    },
                    "region": {
                      "description": "Suggested area in a map to display results in.",
                      "type": "object",
                      "required": [
                        "center"
                      ],
                      "properties": {
                        "center": {
                          "type": "object",
                          "description": "Center location of the region.",
                          "required": [
                            "latitude",
                            "longitude"
                          ],
                          "properties": {
                            "latitude": {
                              "description": "Latitude position on map.",
                              "type": "decimal"
                            },
                            "longitude": {
                              "description": "Longitude position on map.",
                              "type": "decimal"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Result": {
                    "value": {
                      "businesses": [
                        {
                          "alias": "golden-boy-pizza-hamburg",
                          "categories": [
                            {
                              "alias": "pizza",
                              "title": "Pizza"
                            },
                            {
                              "alias": "food",
                              "title": "Food"
                            }
                          ],
                          "coordinates": {
                            "latitude": 41.7873382568359,
                            "longitude": -123.051551818848
                          },
                          "display_phone": "(415) 982-9738",
                          "distance": 4992.437696561071,
                          "id": "QPOI0dYeAl3U8iPM_IYWnA",
                          "image_url": "https://yelp-photos.yelpcorp.com/bphoto/b0mx7p6x9Z1ivb8yzaU3dg/o.jpg",
                          "is_closed": true,
                          "location": {
                            "address1": "James",
                            "address2": "Street",
                            "address3": "68M",
                            "city": "Los Angeles",
                            "country": "US",
                            "display_address": [
                              "James",
                              "Street",
                              "68M",
                              "Los Angeles, CA 22399"
                            ],
                            "state": "CA",
                            "zip_code": "22399"
                          },
                          "name": "Golden Boy Pizza",
                          "phone": "+14159829738",
                          "price": "$",
                          "rating": 4,
                          "review_count": 903,
                          "transactions": [
                            "restaurant_reservation"
                          ],
                          "url": "https://www.yelp.com/biz/golden-boy-pizza-hamburg?adjust_creative=XsIsNkqpLmHqfJ51zfRn3A&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=XsIsNkqpLmHqfJ51zfRn3A",
                          "business_hours": {
                            "open": [
                              {
                                "is_overnight": false,
                                "start": 15,
                                "end": 130,
                                "day": 0
                              },
                              {
                                "is_overnight": false,
                                "start": 630,
                                "end": 1730,
                                "day": 1
                              },
                              {
                                "is_overnight": false,
                                "start": 45,
                                "end": 500,
                                "day": 2
                              }
                            ],
                            "hours_type": "REGULAR",
                            "is_open_now": false
                          }
                        }
                      ],
                      "region": {
                        "center": {
                          "latitude": 37.76089938976322,
                          "longitude": -122.43644714355469
                        }
                      },
                      "total": 6800
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Message varies depending on failure scenario",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "description"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The error code."
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the error."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Invalid Request": {
                    "value": {
                      "error": {
                        "code": "INVALID_REQUEST",
                        "description": "Invalid Request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The API key has either expired or doesn't have the required scopes to query this endpoint.\n\n| code  | description |\n| ------------- | ------------- |\n| UNAUTHORIZED_API_KEY  | The API key provided is not currently able to query this endpoint.  |\n| TOKEN_INVALID  | Invalid API key or authorization header.  |\n",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED_API_KEY",
                        "description": "The API key provided is not currently able to query this endpoint."
                      }
                    }
                  },
                  "Invalid Token": {
                    "value": {
                      "error": {
                        "code": "TOKEN_INVALID",
                        "description": "Invalid API key or authorization header."
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "description"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The error code."
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the error."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The API key provided is not currently able to query this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "description"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The error code."
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the error."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Authorization Error": {
                    "value": {
                      "error": {
                        "code": "AUTHORIZATION_ERROR",
                        "description": "Authorization Error"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "description"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The error code."
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the error."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Resource Not Found": {
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "description": "Resource Not Found"
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "The length of the request exceeded the maximum allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "description"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The error code."
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the error."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Payload Too Large": {
                    "value": {
                      "error": {
                        "code": "PAYLOAD_TOO_LARGE",
                        "description": "Payload Too Large"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "You have either exceeded your daily quota, or have exceeded the queries-per-second limit for this endpoint. Try reducing the rate at which you make queries.",
            "content": {
              "application/json": {
                "examples": {
                  "Rate limited": {
                    "value": {
                      "error": {
                        "code": "TOO_MANY_REQUESTS_PER_SECOND",
                        "description": "You have exceeded the queries-per-second limit for this endpoint. Try reducing the rate at which you make queries."
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "description"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The error code."
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the error."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "examples": {
                  "Internal Server Error": {
                    "value": {
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "description": "Something went wrong internally, please try again later."
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "description"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The error code."
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the error."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "description"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The error code."
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the error."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Service Unavailable": {
                    "value": {
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "description": "Service Unavailable"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/businesses/search/phone": {
      "get": {
        "summary": "Phone Search",
        "tags": [
          "Businesses"
        ],
        "description": "This endpoint returns a list of businesses based on the provided phone number. It is possible for more than one business to have the same phone number (for example, chain stores with the same +1 800 phone number).\n\nNote: at this time, the API does not return businesses without any reviews.\n",
        "operationId": "v3_business_phone_search",
        "parameters": [
          {
            "name": "phone",
            "in": "query",
            "description": "Phone number of the business you want to search for. It must start with + and include the country code, like +14159083801.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 32,
              "pattern": "^[0-9 +()-.x/]+$"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "locale",
            "description": "Locale code in the format of {language code}_{country code}. See the [list of supported locales](https://docs.developer.yelp.com/docs/resources-supported-locales).\n",
            "schema": {
              "type": "string",
              "pattern": "^[a-z]{2,3}_[A-Z]{2}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One more more businesses were found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "businesses",
                    "total"
                  ],
                  "properties": {
                    "businesses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "A Business Yelp finds based on the search criteria.",
                        "required": [
                          "id",
                          "alias",
                          "name",
                          "location",
                          "coordinates",
                          "phone",
                          "display_phone"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Yelp Encrypted Business ID."
                          },
                          "alias": {
                            "description": "Unique Yelp alias of this business. Can contain unicode characters.\nExample: 'yelp-san-francisco'. Also see <a href=\"https://docs.developer.yelp.com/docs/fusion-faq#whats-the-difference-between-the-yelp-business-id-and-business-alias\" target=\"_blank\">What's the difference between the Yelp business ID and business alias?</a>\n",
                            "type": "string"
                          },
                          "name": {
                            "description": "Name of this business.",
                            "type": "string"
                          },
                          "image_url": {
                            "description": "URL of photo for this business",
                            "type": "string"
                          },
                          "is_closed": {
                            "description": "Whether business has been (permanently) closed",
                            "type": "boolean"
                          },
                          "url": {
                            "description": "URL for business page on Yelp.",
                            "type": "string"
                          },
                          "review_count": {
                            "description": "Number of reviews for this business.",
                            "type": "integer"
                          },
                          "categories": {
                            "description": "List of category title and alias pairs associated with this business.",
                            "type": "array",
                            "items": {
                              "description": "A list of Yelp Categories.",
                              "type": "array",
                              "items": {
                                "type": "object",
                                "description": "Category that the business falls in.",
                                "required": [
                                  "alias",
                                  "title"
                                ],
                                "properties": {
                                  "alias": {
                                    "description": "Alias of a category, when searching for business in certain categories, use alias rather than the title.",
                                    "type": "string"
                                  },
                                  "title": {
                                    "description": "Title of a category for display purpose.",
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "rating": {
                            "description": "Rating for this business (value ranges from 1, 1.5, ... 4.5, 5).",
                            "type": "decimal"
                          },
                          "coordinates": {
                            "type": "object",
                            "description": "Coordinates of this business.",
                            "required": [
                              "latitude",
                              "longitude"
                            ],
                            "properties": {
                              "latitude": {
                                "description": "Latitude position on map.",
                                "type": "decimal"
                              },
                              "longitude": {
                                "description": "Longitude position on map.",
                                "type": "decimal"
                              }
                            }
                          },
                          "transactions": {
                            "description": "List of Yelp transactions that the business is registered for. Current supported values are **pickup**, **delivery** and **restaurant_reservation**.",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "price": {
                            "description": "Price level of the business. Uses the currency symbol of the provided <code>locale</code>. Value for <code>en_US</code> is one of *$*, *$$*, *$$$* or *$$$$*.",
                            "type": "string"
                          },
                          "location": {
                            "description": "Location of this business, including address, city, state, zip code and country.",
                            "type": "object",
                            "required": [
                              "display_address"
                            ],
                            "properties": {
                              "address1": {
                                "description": "Street address of this business.",
                                "type": "string"
                              },
                              "address2": {
                                "description": "Street address of this business, continued.",
                                "type": "string"
                              },
                              "address3": {
                                "description": "Street address of this business, continued.",
                                "type": "string"
                              },
                              "city": {
                                "description": "City of this business.",
                                "type": "string"
                              },
                              "zip_code": {
                                "description": "[Zip code](https://en.wikipedia.org/wiki/Postal_code) of this business.",
                                "type": "string"
                              },
                              "country": {
                                "description": "[ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code of this business.",
                                "type": "string"
                              },
                              "state": {
                                "description": "[ISO 3166-2](https://en.wikipedia.org/wiki/ISO_3166-2) (with a few [exceptions](https://docs.developer.yelp.com/docs/resources-state-codes)) state code of this business.",
                                "type": "string"
                              },
                              "display_address": {
                                "description": "Array of strings that if organized vertically give an address that is in the standard address format for the business's country.",
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "cross_streets": {
                                "type": "string",
                                "description": "Cross streets of this address",
                                "nullable": true
                              }
                            }
                          },
                          "phone": {
                            "description": "Phone number of the business.",
                            "type": "string"
                          },
                          "display_phone": {
                            "description": "Phone number of the business formatted nicely to be displayed to users. The format is the standard phone number format for the business's country.",
                            "type": "string"
                          },
                          "distance": {
                            "description": "Distance in meters from the search location. This value is in meters(m) regardless of the locale.",
                            "type": "decimal"
                          },
                          "attributes": {
                            "description": "Various features or facilities provided by the business.\n**Yelp Fusion Premium tier** attributes, please apply [here](https://business.yelp.com/data/products/fusion/):\n* *liked_by_vegetarians* - is the business liked by vegetarians\n* *liked_by_vegans* - is the business liked by vegans\n* *hot_and_new* - has the business recently joined Yelp\n",
                            "type": "object"
                          }
                        }
                      }
                    },
                    "total": {
                      "description": "Total number of businesses Yelp finds based on the search criteria. Sometimes, the value may exceed 240. In such case, you still can only get up to 240 businesses using multiple queries and combinations of the \"limit\" and \"offset\" parameters.\n",
                      "type": "integer"
                    }
                  }
                },
                "examples": {
                  "Result": {
                    "value": {
                      "businesses": [
                        {
                          "alias": "golden-boy-pizza-hamburg",
                          "categories": [
                            {
                              "alias": "pizza",
                              "title": "Pizza"
                            },
                            {
                              "alias": "food",
                              "title": "Food"
                            }
                          ],
                          "coordinates": {
[...]
